In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import  train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , BatchNormalization,Dropout

In [0]:
dt=pd.read_csv('diabetes.csv')

In [4]:
dt.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
dt.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [0]:
x=dt.iloc[:,:-1]
y=dt.iloc[:,-1]

In [0]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
xtrain.shape

(614, 8)

In [18]:
ytrain.shape

(614,)

In [0]:
model=Sequential()

In [0]:
model.add(Dense(32,input_dim=8))
model.add(BatchNormalization())
model.add(Dense(128,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [0]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [22]:
model.fit(xtrain,ytrain,epochs=10,batch_size=10)

Epoch 1/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5775 - accuracy: 0.6987
Epoch 2/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5356 - accuracy: 0.7248
Epoch 3/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5131 - accuracy: 0.7492
Epoch 4/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5202 - accuracy: 0.7443
Epoch 5/10
62/62 [==============================] - 0s 5ms/step - loss: 0.4895 - accuracy: 0.7687
Epoch 6/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5245 - accuracy: 0.7524
Epoch 7/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5010 - accuracy: 0.7638
Epoch 8/10
62/62 [==============================] - 0s 6ms/step - loss: 0.4997 - accuracy: 0.7541
Epoch 9/10
62/62 [==============================] - 0s 5ms/step - loss: 0.5023 - accuracy: 0.7492
Epoch 10/10
62/62 [==============================] - 0s 6ms/step - loss: 0.5068 - accuracy: 0.7541

In [23]:
model.evaluate(xtest,ytest)

5/5 [==============================] - 0s 3ms/step - loss: 0.4628 - accuracy: 0.7987

[0.4628075063228607, 0.798701286315918]